<!DOCTYPE html>
<html lang="en">

<head>
	<title>BodeBusters</title>
	<meta charset="utf-8" />
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'videorental/css/bootstrap.min.css' %}" type = "text/css"/>
	<meta name="viewport" content = "width=device-width, initial-scale=1.0">
	
	<style type="text/css">
		html,
		body {
		  height:100%
		}
	</style>
</head>

<body class="body" style="background-color:#D4D2D2">
	<div class="container-fluid" style="min-height:95%;">
		<div class="row">
			  <div class="col-sm-12" style = "background-color:#682457">
				  <br>
				  <center>
					<img src="{% static 'videorental/img/header.png' %}" class="responsive-img" style='max-height: 400px;' alt="logo">
				  </center>
			  </div>
		</div><hr class="style13">

		<div class="row">
		  <div class="col-sm-2">
		  <br>

		  <br>
		   <!-- Great, til you resize. -->
		   <!-- Sidebar -->
		   <div class="bg-light border-right" id="sidebar">
			   <div class="sidebar-heading"> Menu </div>
			   <div class="list-group list-group-flush">
					<a href="../" class="list-group-item list-group-item-action bg-light text-dark">Home</a>
					<a href="/movies" class="list-group-item list-group-item-action bg-light text-dark">Movies</a>
					<a href="/rented" class="list-group-item list-group-item-action bg-light text-dark">Rented</a>
					{% if user.is_authenticated %}
						<a href="/my_movies" class="list-group-item list-group-item-action bg-light text-dark">My Movies</a>
					{% endif %}
			   </div>
			</div>
		  </div> <!--col-sm-2-->
		  <div class="col-sm-10">
		  
			<div class='container-fluid'>
			<br><br>
			   {% block content %}
			   {% endblock %}	
			</div>
		  </div>
		</div> 
	</div>
	
</body>

</html>