{% extends "videorental/header.html" %}

{% block content %}
<div class="row">
	<div class="col-sm-3">
		{% load staticfiles %}
		<img src="{{ movie.poster.url }}" alt="My image" height="500px"/>
	</div>
	<div class="col-sm-5">
		<h3>{{movie.title}}</h3>
		<h4><small class="text-muted">Stock: {{movie.stock}}</small></h4>
		<p>{{ movie.sumary }}</p>
		{% if user.is_authenticated %}
		<a href = "{% url 'rent_movie' pk_user=user.id pk_m=movie.id %}"> <button type="button" class="btn btn-dark">Rent</button> </a>
		{% endif %}
	</div>

	<br>
	<br>

	<br>

{% endblock %}
