{% extends "videorental/header.html" %}

{% block content %}
    {% if user.is_authenticated %}
        <h2>Hi, {{ user.username }} </h2>
        <br>
        <a href = "{% url 'logout' %}"> <button type="button" class="btn btn-dark">Logout</button> </a>
    {% else %}
        <h3>Login</h3>
        <br>
        <a href = "login/"> <button type="button" class="btn btn-dark">Login</button> </a>
        <br>
        <br>
        <h3>Sign Up</h3>
        <br>
        <a href = "sign_up/"> <button type="button" class="btn btn-dark">Sign up</button> </a>
    {% endif %}
{% endblock %}